---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { FaRegFolder, FaRegUserCircle } from "react-icons/fa";
import ImageMod from "./ImageMod.astro";

const { service } = Astro.props;
console.log(service);
---

<!-- ServiceCard: displays a single service.

Initial representation:
- Title
- Background-Image
- Description + Link to full service description

More fancy: Show title and background-image only. Once you hover over the card, the image will fly-out and the description will fly-in
-->
<div class="row">
  <div class="bg-body dark:bg-darkmode-body">
    <!--div
      class="relative-container"
      style="position: relative; display: inline-block;"
    -->
    <div
      class="relative-container"
      style="position: relative; display: inline-block;"
    >
      <a href={service.link}>
        <ImageMod
          class="mb-6 w-full rounded"
          src={service.image}
          alt={service.title}
          width={400}
          height={600}
          format="webp"
        />
      </a>
      <div
        class="text-overlay"
        style="position: absolute; top: 0%; left: 0%; width: 100%;padding: 20px; border-radius: 8px;"
      >
        <h4 class="mb-3 text-center">
          <a href={service.link}>
            {service.title}
          </a>
        </h4>
        <p class="mb-6 text-sm">{plainify(service.description)}</p>
        <a class="btn btn-outline-primary btn-sm" href={service.link}>
          Weiterlesen
        </a>
      </div>
    </div>
  </div>
</div>
