---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";

const { data } = Astro.props;
---

{
  data.enable && (
    <section class="section py-8 pb-20">
      <div class="container">
        <div class="row items-start gap-y-10">
          <div class="col-12 md:col-6 md:pr-10">
            <h2 class="font-primary font-bold text-black dark:text-white">
              <span set:html={markdownify(data.left_intro)} />{" "}
              <span
                class="adv-contact-gradient"
                set:html={markdownify(data.left_highlight)}
              />{" "}
              <span set:html={markdownify(data.left_outro)} />
            </h2>
            {data.left_text && (
              <p
                class="mt-6 font-secondary text-xl font-normal text-text dark:text-darkmode-text-light"
                set:html={markdownify(data.left_text)}
              />
            )}
          </div>

          <div class="col-12 md:col-6 md:pl-10">
            <h3
              class="mb-6 font-primary text-h3 font-bold text-black dark:text-white"
              set:html={markdownify(data.right_title)}
            />
            <div class="space-y-6">
              {data.items.map((item: { caption: string; text: string }) => (
                <article>
                  <h4
                    class="font-primary text-h6 font-bold text-text-dark dark:text-darkmode-text-dark"
                    set:html={markdownify(item.caption)}
                  />
                  <p
                    class="font-secondary text-base font-normal text-text dark:text-darkmode-text-light"
                    set:html={markdownify(item.text)}
                  />
                </article>
              ))}
            </div>
          </div>
        </div>

        <div class="mt-10">
          <ImageMod
            src={data.image}
            alt={data.image_alt}
            height={920}
            width={2048}
            class="w-full"
            format="webp"
          />
        </div>
      </div>
    </section>
  )
}
