---
import { markdownify } from "@/lib/utils/textConverter";
import ImageMod from "@/components/ImageMod.astro";
const { services } = Astro.props;
---

{
  (
    <section class="section">
      <div class="row">
        <div class="mx-auto mb-12 text-center md:col-10 lg:col-8 xl:col-6">
          <h2 set:html={markdownify(services.data.title)} class="mb-4" />
          <p set:html={markdownify(services.data.description)} />
        </div>
        <div class="col-12">
          <div class="swiper landing-slider">
            <div class="swiper-wrapper">
              {services.data.services.map(
                (service: {
                  title: string;
                  description: string;
                  image: string;
                  link: string;
                }) => (
                  <div class="swiper-slide">
                    <div
                      class="relative-container"
                      style="position: relative; display: inline-block;"
                    >
                      <ImageMod
                        class=""
                        src={service.image}
                        alt={service.title}
                        width={1280}
                        height={512}
                        format="png"
                      />
                      <div
                        class="text-overlay"
                        style="position: absolute; top: 5%; left: 5%; width: 90%;"
                      >
                        <div class="text-dark dark:text-white">
                          <h2 set:text={service.title} />
                          <p
                            set:html={markdownify(service.description)}
                            class="mb-8"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                ),
              )}
            </div>
            <div class="swiper-button-next" />
            <div class="swiper-button-prev" />
            <div class="landing-slider-pagination mt-9 flex items-center justify-center text-center" />
          </div>
        </div>
      </div>
    </section>
  )
}

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import "swiper/css/navigation";
  import { Autoplay, Pagination, Navigation } from "swiper/modules";

  // astro:page-load event is fired when the page is loaded
  document.addEventListener("astro:page-load", () => {
    new Swiper(".landing-slider", {
      modules: [Pagination, Autoplay, Navigation],
      spaceBetween: 0,
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".landing-slider-pagination",
        type: "bullets",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        768: {
          slidesPerView: 1.2,
        },
        992: {
          slidesPerView: 1.2,
        },
      },
    });
  });
</script>
