---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import ContactForm from "@/partials/ContactForm.astro";
import { getEntry } from "astro:content";

const contact = await getEntry("contact", "-index");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = contact.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <ContactForm contact_form_action={contact_form_action} />
        </div>
      </div>
    </div>
  </section>
  <script type="module" src="/src/lib/utils/contactFormScript.ts"></script>
</Base>
