---
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Erstgespraech from "@/partials/Erstgespraech.astro";
import Faq from "@/partials/Faq.astro";
import HomepageTopSections from "@/partials/HomepageTopSections.astro";
import LandingCta from "@/partials/LandingCta.astro";
import ResultOverview from "@/partials/ResultOverview.astro";
import Results from "@/partials/Results.astro";
import SoArbeiten from "@/partials/SoArbeiten.astro";
import ServicesOverview from "@/partials/ServicesOverview.astro";
import Testimonial from "@/partials/Testimonial.astro";
import TypicalSituations from "@/partials/TypicalSituations.astro";
import WhyAdv from "@/partials/WhyAdv.astro";

const testimonial = (await getEntry(
  "testimonialSection",
  "testimonial",
)) as CollectionEntry<"testimonialSection">;

const faq = (await getEntry(
  "faqSection",
  "faq",
)) as CollectionEntry<"faqSection">;

const results = (await getEntry(
  "resultsSection",
  "results",
)) as CollectionEntry<"resultsSection">;

const whyAdv = (await getEntry(
  "whyAdvSection",
  "why-adv",
)) as CollectionEntry<"whyAdvSection">;

const services = (await getEntry(
  "servicesSection",
  "services",
)) as CollectionEntry<"servicesSection">;

const soArbeiten = (await getEntry(
  "soArbeitenSection",
  "so-arbeiten",
)) as CollectionEntry<"soArbeitenSection">;

const resultOverviewSection = (await getEntry(
  "resultOverviewSection",
  "result-overview",
)) as CollectionEntry<"resultOverviewSection">;
---

<Base>
  <section>
    <HomepageTopSections />
    <ResultOverview resultOverview={resultOverviewSection} />
    <div id="typische-ausgangssituation">
      <TypicalSituations />
    </div>
    <SoArbeiten soArbeiten={soArbeiten} />
    <ServicesOverview services={services} />
    <WhyAdv whyAdv={whyAdv} />
    <Results results={results} />
    <Testimonial testimonial={testimonial} />
    <Erstgespraech />
    <Faq faq={faq} />
    <LandingCta />
  </section>
</Base>
