---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Erstgespraech from "@/partials/Erstgespraech.astro";
import Faq from "@/partials/Faq.astro";
import LandingCta from "@/partials/LandingCta.astro";
import Results from "@/partials/Results.astro";
import ServicesOverview from "@/partials/ServicesOverview.astro";
import Testimonial from "@/partials/Testimonial.astro";
import WhyAdv from "@/partials/WhyAdv.astro";

const homepage = (await getEntry(
  "homepage",
  "-index",
)) as CollectionEntry<"homepage">;

const testimonial = (await getEntry(
  "testimonialSection",
  "testimonial",
)) as CollectionEntry<"testimonialSection">;

const faq = (await getEntry(
  "faqSection",
  "faq",
)) as CollectionEntry<"faqSection">;

const results = (await getEntry(
  "resultsSection",
  "results",
)) as CollectionEntry<"resultsSection">;

const whyAdv = (await getEntry(
  "whyAdvSection",
  "why-adv",
)) as CollectionEntry<"whyAdvSection">;

const services = (await getEntry(
  "servicesSection",
  "services",
)) as CollectionEntry<"servicesSection">;

const { banner } = homepage.data;
---

<Base>
  <!-- Banner -->
  <section>
    <section class="mb-4">
      <div class="container">
        <div class="px-4 py-20 xl:p-12">
          <div class="row justify-between">
            <div class="w-full md:w-1/2 mb-10 md:mb-0 md:pr-6 xl:pr-12">
              <div
                class="claim-container animate-fly-in mt-16 mb-12 overflow-hidden"
              >
                <h1 class="claim text-center">
                  <div class="animate-move-left text-5xl mb-4">
                    {banner.title1}
                  </div>
                  <div class="text-5xl mb-4">{banner.title2}</div>
                  <div class="animate-move-right text-5xl">
                    {banner.title3}
                  </div>
                </h1>
              </div>
            </div>
            <div class="w-full md:w-1/2 md:pl-6 xl:pl-12">
              <p
                set:html={markdownify(banner.content)}
                class="mb-4 text-justify mt-16 text-lg"
              />
              {
                banner.button.enable && (
                  <a class="btn btn-primary mt-5" href={banner.button.link}>
                    {banner.button.label}
                  </a>
                )
              }
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Banner -->
    <ServicesOverview services={services} />
    <WhyAdv whyAdv={whyAdv} />
    <Results results={results} />
    <Testimonial testimonial={testimonial} />
    <Erstgespraech />
    <Faq faq={faq} />
    <LandingCta />
  </section>
</Base>
