---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry } from "astro:content";
import ContactForm from "@/partials/ContactForm.astro";
import { FaCheck } from "react-icons/fa6";
import { markdownify } from "@/lib/utils/textConverter";
import CoreValues from "@/partials/CoreValues.astro";

const { contact_form_action } = Astro.props;

const strategy = await getEntry("portfolio", "strategy");

const { title, description, meta_title, image } = strategy.data;
---

<Base
  title={title}
  meta_title={meta_title}
  image={image}
  description={description}
>
  <PageHeader title={title} />

  <!-- Intro -->
  <section class="mb-8 mt-16">
    <div class="container">
      <div class="px-4 xl:p-12">
        <div class="row">
          <div class="w-full">
            <ul>
              {
                strategy.data.overview.map((bullet: string) => (
                  <li class="relative mb-4 pl-6">
                    <FaCheck className={"absolute left-0 top-1.5"} />
                    <span set:html={markdownify(bullet)} />
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Intro -->

  <!-- Our Task -->
  <section>
    <div class="container">
      <div class="px-4 xl:p-12">
        <div class="row">
          <div class="w-full">
            {
              strategy.data.subsections.map((subsection) => (
                <>
                  <h2 set:html={markdownify(subsection.title)} class="mb-4" />
                  <p
                    set:html={markdownify(subsection.description)}
                    class="mb-8 text-base"
                  />
                  <CoreValues core_values={subsection.tasks} />
                </>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Our Tasks -->

  <!-- contact form -->
  <section class="mt-0">
    <div class="container">
      <div class="px-4 xl:p-12">
        <div class="row">
          <h2 class="mb-4 w-full">Kontakt</h2>
          <div class="mx-auto md:col-10 lg:col-6">
            <ContactForm contact_form_action={contact_form_action} />
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="/src/lib/utils/contactFormScript.ts"></script>
    <!-- /contact form -->
  </section>
</Base>
