---
import TwSizeIndicator from "@/components/TwSizeIndicator.astro";
import config from "@/config/config.json";
import theme from "@/config/theme.json";
import { plainify } from "@/lib/utils/textConverter";
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import "@/styles/main.css";
import { AstroFont } from "astro-font";
import { ClientRouter } from "astro:transitions";
import SearchModal from "./helpers/SearchModal";
import { join } from "node:path";
import GTMConsent from "./components/tracking/GTMConsent.astro";

// font families
const pf = theme.fonts.font_family.primary;
const sf = theme.fonts.font_family.secondary;

let fontPrimary, fontSecondary;
if (pf) {
  fontPrimary = pf
    .replace(/\+/g, " ")
    .replace(/:[ital,]*[ital@]*[wght@]*[0-9,;.]+/gi, "");
}
if (sf) {
  fontSecondary = sf
    .replace(/\+/g, " ")
    .replace(/:[ital,]*[ital@]*[wght@]*[0-9,;.]+/gi, "");
}

// types for frontmatters
export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  image_alt?: string;
  image_width?: string;
  image_height?: string;
  noindex?: boolean;
  canonical?: string;
}

// destructure frontmatter
const {
  title,
  meta_title,
  description,
  image,
  image_alt,
  image_width,
  image_height,
  noindex = false,
  canonical,
} = Astro.props;
---

<!doctype html>
<html lang={config.site.language}>
  <head>
    <!-- favicon -->
    <link rel="shortcut icon" href={config.site.favicon} />
    <!-- theme meta -->
    <meta name="theme-name" content="ADV - Alpine Data Ventures" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#fff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000"
    />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Load font css -->
    <AstroFont
      config={[
        {
          src: [
            {
              style: "400",
              weight: "normal",
              path: join(
                process.cwd(),
                "public",
                "fonts",
                "Poppins-Regular.woff2",
              ),
            },
          ],
          preload: false,
          display: "swap",
          name: fontPrimary!,
          fallback: "sans-serif",
          cssVariable: "font-primary",
        },
        {
          src: [
            {
              style: "500",
              weight: "normal",
              path: join(
                process.cwd(),
                "public",
                "fonts",
                "Poppins-Medium.woff2",
              ),
            },
          ],
          preload: false,
          display: "swap",
          name: fontSecondary!,
          fallback: "sans-serif",
          cssVariable: "font-secondary",
        },
      ]}
    />

    <!-- responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />

    <!-- title -->
    <title>
      {plainify(meta_title ? meta_title : title ? title : config.site.title)}
    </title>

    <!-- canonical url -->
    {canonical && <link rel="canonical" href={canonical} item-prop="url" />}

    <!-- add sitemap for crawlers convenience -->
    <link rel="sitemap" href="/sitemap-index.xml/" />

    <!-- index robots -->
    <!-- for branch-deploys do NOT allow INDEXing, nor let crawler follow links -->
    {
      process.env.CONTEXT === "branch-deploy" && (
        <meta name="robots" content="noindex,nofollow" />
      )
    }
    <!-- for prod-deploys check index variable, but always let crawler follow links. Recommendation by SEO experts -->
    {
      process.env.CONTEXT === "production" && noindex && (
        <meta name="robots" content="noindex,follow" />
      )
    }
    {
      process.env.CONTEXT === "production" && !noindex && (
        <meta name="robots" content="index,follow" />
      )
    }

    <!-- meta-description -->
    <meta
      name="description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />

    <ClientRouter />

    <!-- author from config.json -->
    <meta name="author" content={config.metadata.meta_author} />

    <!-- og-title -->
    <meta
      property="og:title"
      content={plainify(
        meta_title
          ? meta_title
          : title
            ? title
            : config.site.title + " - " + config.site.slogan,
      )}
    />

    <!-- og-description -->
    <meta
      property="og:description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`}
    />

    <!-- twitter-title -->
    <meta
      name="twitter:title"
      content={plainify(
        meta_title ? meta_title : title ? title : config.site.title,
      )}
    />

    <!-- twitter-description -->
    <meta
      name="twitter:description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />

    <!-- og-image -->
    <meta
      property="og:image"
      content={`${config.site.base_url}${
        image ? image : config.metadata.meta_image
      }`}
    />
    <meta
      property="og:image:alt"
      content={`${image_alt ? image_alt : config.metadata.meta_image_alt}`}
    />
    <meta
      property="og:image:width"
      content={`${
        image_width ? image_width : config.metadata.meta_image_width
      }`}
    />
    <meta
      property="og:image:height"
      content={`${
        image_height ? image_height : config.metadata.meta_image_height
      }`}
    />

    <meta
      name="twitter:image"
      content={`${config.site.base_url}${
        image ? image : config.metadata.meta_image
      }`}
    /><meta name="twitter:card" content="summary_large_image" />

    {
      process.env.CONTEXT === "production" && (
        <script
          defer
          data-domain="alpinedata.de"
          src="https://analytics.beta-its.de/js/script.js"
        />
      )
    }
    <script is:inline>
      window.dataLayer = window.dataLayer || [];

      function gtag(...args) {
        window.dataLayer.push(args);
      }

      gtag("consent", "default", {
        ad_storage: "denied",
        analytics_storage: "denied",
        ad_user_data: "denied",
        ad_personalization: "denied",
      });
    </script>

    <script async src="https://www.googletagmanager.com/gtm.js?id=GTM-TML73X7L"
    ></script>
  </head>

  <body>
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TML73X7L"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <!-- Klaro JS -->
    <GTMConsent />

    <TwSizeIndicator />
    <Header />
    <SearchModal client:load />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
